:root {
    --color: black;
    --blur: 3px;
}

.Flight {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-shadow: 1.5px 1.5px var(--blur) var(--color),
        1.5px -1.5px var(--blur) var(--color),
        -1.5px 1.5px var(--blur) var(--color),
        -1.5px -1.5px var(--blur) var(--color);
}

.Flight > * {
    font-weight: bold;
}
.Flight > .Icon {
    transform: rotateY(180deg);
    font-size: 2em;
}
.Flight > .flightId {
    font-size: 1em;
}
