/* .FlightsBoard {
  
} */

:root{
    --color: rgba(118, 255, 234, 0.45);
}

.flightItem {
    text-shadow: 0.1px 0.1px 0.1px var(--color), 0.1px -0.1px 0.1px var(--color),
        -0.1px 0.1px 0.1px var(--color), -0.1px -0.1px 0.1px var(--color);
    font-weight: bold;

    font-size: 1em;
}
